<!DOCTYPE html>
<html>
  <body>
    <section class="registratie">
      <form action="/register" method="POST">
        <h2>Registreer</h2>
        <fieldset>
          <label for="voornaam">voornaam</label>
          <input
            type="text"
            name="voornaam"
            placeholder="voornaam"
            id="voornaam"
          />
        </fieldset>

        <fieldset>
          <label for="emailadres">emailadres</label>
          <input
            type="email"
            name="emailadres"
            placeholder="emailadres"
            id="emailadres"
          />
        </fieldset>

        <fieldset>
          <label for="password">wachtwoord</label>
          <input type="password" id="password" name="password" required />
        </fieldset>

        <button type="submit">registreer</button>
      </form>
    </section>
  </body>
</html>
