<!DOCTYPE html>
<html lang="en">
  <head>
    <% include head.ejs %>
  </head>
  <body>
    <h1>Inloggen</h1>
      <form action="/login" method="POST">
        <fieldset>
          <label for="voornaam">voornaam</label>
          <input
            type="text"
            name="voornaam"
            placeholder="voornaam"
            id="voornaam"
          />
        </fieldset>

        <fieldset>
          <label for="emailadres">emailadres</label>
          <input
            type="email"
            name="emailadres"
            placeholder="emailadres"
            id="emailadres"
          />
        </fieldset>

        <fieldset>
          <label for="pass">Wachtwoord</label>
          <input type="password" id="pass" name="wachtwoord" required />
        </fieldset>
      </form>

      <section class="button">
        <button type="button" name="button">inloggen</button>
      </section>
    </form>

    <a href="registratie.ejs">registreren</a>
  </body>
</html>
